#space-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1000px;
}

#space {
    height: 1000px;
    width: 1000px;
    background-color: black;
}

.entity {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
}

