body {
    background-color: black;
    margin: 0px;
}


#space {
    height: 40rem;
    width: 100%;
    background-color: black;
}

.star-container {
    position: absolute;
    display: flex;
    flex-direction: row;;
}

.entity {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-image: url("star.png")
}

#btn-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.fiat-btn {
    margin-top: 5px;
    text-align: center;
    color: white;
    width: 8rem;
    height: 2rem;
    font-size: 14px;
    font-family: 'Langar', cursive;
    border-radius: 5px;
    background-color: gray;
    border: 1px solid white;
}

#star-label {
    color: white;
}

.btn:hover {
    cursor: pointer;
}

.star-name {
    margin-left: 5px;
    left: 15px;
    font-size: 8px;
    color: white;
}

input {
    width: 50px;
}

#star-list-container {
    width: 100%;
    margin-top: 10px;
}

tr {
    font-size: 10px;
}

